<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CloudHeal Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<div class="sidebar">

    <h2>☁ CloudHeal</h2>

    <ul>

        <li><i class="fa-solid fa-house"></i> Dashboard</li>
        <li><i class="fa-solid fa-chart-line"></i> Monitoring</li>
        <li><i class="fa-solid fa-brain"></i> AI Engine</li>
        <li><i class="fa-solid fa-server"></i> Cloud</li>
        <li><i class="fa-solid fa-file-lines"></i> Logs</li>
        <li><i class="fa-solid fa-chart-pie"></i> Reports</li>
        <li><i class="fa-solid fa-gear"></i> Settings</li>

    </ul>

</div>

<div class="main">

    <div class="topbar">

        <h1>Self-Healing Intelligent Cloud Monitoring System</h1>

        <div class="user">

            🔔 Admin

        </div>

    </div>

    <div class="cards">

    </div>

</div>

</body>

</html>